.graphic {
  margin-top: 1em;
}

#chart {
  width: 100% !important;
  min-height: 20em;
  height: 50vh;
}

::ng-deep .mat-toolbar {
  height: 3em;
}

#checkboxes {
  padding: 0.5rem;
  max-height: 20rem;
  overflow: auto;
}

#checkboxes mat-checkbox{
  display: table;
}

/* to avoid overflow with export */
::ng-deep .highcharts-container{
  width: 100% !important;
}
::ng-deep .highcharts-container > svg{
  width: 100% !important;
}


/** Data table **/
::ng-deep .highcharts-data-table {
  overflow-x: auto;
}
::ng-deep .highcharts-data-table thead tr {
  background-color: #3f51b5;
  color: white;
}
::ng-deep .highcharts-data-table thead th {
  padding: 0.25em 1em;
}
::ng-deep .highcharts-data-table tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}