<aside class="navbar" [fxHide]="!visible">
    <div class="block">
        <a [routerLink]="['/about']">
            <h1>PLACM</h1>
        </a>
    </div>

    <nav class="block">
        <ul class="text">
            <li>
                <p>Classes</p>
                <ul>
                    <li [attr.aria-current]="actualClass === classes[0] ? 'page' : null" [class.currentClass]="actualClass === classes[0]">
                        <a [routerLink]="[variableGroup,'continent']">Continent</a>
                    </li>
                    <li [attr.aria-current]="actualClass === classes[1] ? 'page' : null" [class.currentClass]="actualClass === classes[1]">
                        <a [routerLink]="[variableGroup,'country']">Country</a>
                    </li>
                    <li [attr.aria-current]="actualClass === classes[2] ? 'page' : null" [class.currentClass]="actualClass === classes[2]">
                        <a [routerLink]="[variableGroup,'tag']">Tag</a>
                    </li>
                    <li [attr.aria-current]="actualClass === classes[3] ? 'page' : null" [class.currentClass]="actualClass === classes[3]">
                        <a [routerLink]="[variableGroup,'sector']">Sector</a>
                    </li>
                    <li [attr.aria-current]="actualClass === classes[4] ? 'page' : null" [class.currentClass]="actualClass === classes[4]">
                        <a [routerLink]="[variableGroup,'org']">Organization</a>
                    </li>
                    <li [attr.aria-current]="actualClass === classes[5] ? 'page' : null" [class.currentClass]="actualClass === classes[5]">
                        <a [routerLink]="[variableGroup,'app']">Application/Website</a>
                    </li>
                    <li [attr.aria-current]="actualClass === classes[6] ? 'page' : null" [class.currentClass]="actualClass === classes[6]">
                        <a [routerLink]="[variableGroup,'eval']">Evaluation tool</a>
                    </li>
                    <ng-template [ngIf]="scriteriaGroup" [ngIfElse]="assertionsGroup">
                        <li class="isDisabled">
                            <span>Success criteria</span>
                        </li>
                        <li class="isDisabled">
                            <span>Type of element</span>
                        </li>
                        <li class="isDisabled">
                            <span>Rule</span>
                        </li>
                    </ng-template>
                    <ng-template #assertionsGroup>
                        <li [attr.aria-current]="actualClass === classes[7] ? 'page' : null" [class.currentClass]="actualClass === classes[7]">
                            <a [routerLink]="[variableGroup,'sc']">Success criteria</a>
                        </li>
                        <li [attr.aria-current]="actualClass === classes[8] ? 'page' : null" [class.currentClass]="actualClass === classes[8]">
                            <a [routerLink]="[variableGroup,'type']">Type of element</a>
                        </li>
                        <li [attr.aria-current]="actualClass === classes[9] ? 'page' : null" [class.currentClass]="actualClass === classes[9]">
                            <a [routerLink]="[variableGroup,'rule']">Rule</a>
                        </li>
                    </ng-template>
                </ul>
            </li>
            <li>
                <hr>
            </li>
            <li [class.currentPage]="actualClass === 'admin'">
                <a [routerLink]="['/admin']">Administration page</a>
            </li>
            <li [class.currentPage]="actualClass === 'about'">
                <a [routerLink]="['/about']">About PLACM</a>
            </li>
        </ul>
    </nav>
</aside>

<main [ngClass]="{'open-sidebar': visible}">
    <header>
        <button type="button" class="btn" aria-label="Toggle navigation menu" (click)="toggleVisibility()">☰</button>
        <div class="name">
            <a [routerLink]="['/about']" *ngIf="!visible">
                <p>Prototype Large-Scale Accessibility Conformance Monitoring</p>
            </a>
        </div>
        <div class="logos">
            <a href="https://github.com/carlosapaduarte/placm" 
            target="_blank" rel="noopener noreferrer" 
            class="logo-github" aria-label="link to github repository">
                <svg height="32" class="octicon octicon-mark-github text-white" viewBox="0 0 16 16" 
                version="1.1" width="32" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
        </div>
    </header>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

</main>
